#figure { position:relative; }
#figure #floor {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}

#pane .row {
	margin-bottom:0;
}
.diff-colors {  }
.diff-colors .row:first-child { margin-bottom:20px; }
.diff-colors .color {
	box-sizing: border-box;
  cursor:pointer;
  height:auto;
  position:relative;
  display:block;
  background:#ffffff;
  width:80%;
  margin-top: 16px;
  margin-bottom: 26px;
  -moz-box-shadow:0 1px 1px rgba(0,0,0,0.25), 0 2px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.25), 0 2px 3px rgba(0,0,0,0.1);
  box-shadow:0 1px 1px rgba(0,0,0,0.25), 0 2px 3px rgba(0,0,0,0.1);
}
.diff-colors .color img {
	display: block;
}
.diff-colors .color:first-child { margin-left:0; }
.diff-colors .first {
  background:url('../images/yellowblue/gul.jpg') no-repeat;
  background-size:100%;
  background-position:20% 58%;
}
.diff-colors .second {
  background:url('../images/yellowblue/blattfond.jpg') no-repeat;
  background-size:100%;
  background-position:20% 58%;
}
.diff-colors .third {
  background:url('../images/yellowblue/blattgolv.jpg') no-repeat;
  background-size:100%;
  background-position:20% 58%;
}
.diff-colors .fourth {
  background:url('../images/yellowblue/blagullangsida.jpg') no-repeat;
  background-size:100%;
  background-position:20% 58%;
}
.diff-colors .fifth {
  background:url('../images/yellowblue/gulhoger.jpg') no-repeat;
  background-size:100%;
  background-position:20% 58%;
}
.diff-colors .sixth {
  background:url('../images/yellowblue/bla.jpg') no-repeat;
  background-size:100%;
  background-position:20% 58%;
}
.diff-colors .color::before {
  content:'';
  position:absolute;
  z-index:-1;
  top:-8px;
  right:-8px;
  bottom:-8px;
  left:-8px;
  background-color:#666666;
  opacity:0.5;
}
.diff-colors .color:hover::before { opacity:1; }
.diff-colors .color.active::before {
  opacity:1;
  background-color:#333333;
}
